@{
    ViewData["Title"] = "Home Page";
}

<div class="myContainer" style="padding-top:20px;">
    <div class="text-center">
        <h1 style=" color: rgb(117, 116, 116);font-size:50px;">NEW LOVELEY HOME COLLECTION</h1>
    </div>
    <div class="products-latest" style="padding-top:30px;">

        <div class="products-container" style="display: flex; gap:30px; flex-wrap:wrap; padding: 20px;">

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>


        </div>
    </div>
</div>