@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="products-latest">
        <h1 class="display-4">All products</h1>
        <p>A product</p>
        <p>A product</p>
        <p>A product</p>
        <p>A product</p>
    </div>
</div>