@{
    ViewData["Title"] = "Home Page";
}

<div class="myContainer">
    <div class="text-center">
        <h1 style=" color: rgb(117, 170, 214);">Welcome to My Loveley Home</h1>
        <span>Everything to make your place your Loveley Home</span>
    </div>
    <div class="products-latest" style="padding-top:30px;">
        <h2 style=" color: rgb(117, 170, 214);">Latest loveley items</h2>
        <div class="products-container" style="display: flex; gap:30px; flex-wrap:wrap; padding: 20px;">

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>


        </div>
    </div>
</div>