@{
    ViewData["Title"] = "Shop";
}

<div class="myContainer">
    <div class="text-center">
        <h1 style=" color: rgb(117, 116, 116);font-size:50px;">FOR YOUR LOVELEY HOME</h1>

        <div class="categoriesContainer"
            style="display: flex; justify-content:space-between; flex-wrap:wrap; padding-top:20px; ">

            <span style="color: rgb(117, 116, 116);">Category:</span>

            <div class="categoryItem">
                <a style="font-weight:bold; font-size: 20px;color: rgb(117, 116, 116)">ALL</a>
            </div>
            <div class="categoryItem">
                <a>BATHROOM</a>
            </div>
            <div class="categoryItem">
                <a>KITCHEN</a>
            </div>
            <div class="categoryItem">
                <a>BEDROOM</a>
            </div>
            <div class="categoryItem">
                <a>LIVINGROOM</a>
            </div>
            <div class="categoryItem">
                <a>MULTIROOM</a>
            </div>
        </div>
    </div>


    <div class="products-latest" style="padding-top:30px;">

        <div class="products-container" style="display: flex; gap:30px; flex-wrap:wrap; padding: 20px;">

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>

            <div class="oneProduct" style="display:flex; flex-direction:column; ">
                <h1>IMAGE</h1>
                <span style="font-size:20px;">Product title</span>
                <span>Price</span>
                <span>Add, </span>
                <span>Save </span>
            </div>


        </div>
    </div>
</div>