@{
    ViewData["Title"] = "Shop";
}

<div class="text-center">

    <div class="products-all">
        <h1 class="display-4">Products</h1>
        <p>A product</p>
        <p>A product</p>
        <p>A product</p>
        <p>A product</p>
    </div>
</div>